# Banco de Dados
DB_USER=postgres
DB_PASSWORD=sua_senha_super_segura
DB_NAME=lattes_hub
DB_PORT_EXTERNAL=5437
DB_HOST=db
DB_PORT=5432

# Backend
BACKEND_PORT=8000

# OpenAI
OPENAI_API_KEY=sk-sua-chave-aqui-da-openai