<footer class="bg-surface dark:bg-surface-container-high border-t border-outline-variant py-12 mt-auto w-full">
  <div class="max-w-container-max mx-auto px-margin-desktop flex flex-col md:flex-row justify-between items-center md:items-start gap-8">
    <div class="flex flex-col items-center md:items-start gap-2">
      <span class="font-display-lg text-2xl text-primary tracking-tight">LattesHub</span>
      <p class="font-body-sm text-sm text-on-surface-variant max-w-xs text-center md:text-left opacity-80">
        © 2024 LattesHub Scientific Open Data Portal. <br class="hidden md:block"> Institutional Transparency Initiative.
      </p>
    </div>
    <nav class="flex flex-wrap justify-center md:justify-end gap-x-8 gap-y-2 mt-4 md:mt-1">
      <a class="font-label-bold text-sm text-on-surface-variant hover:text-primary dark:hover:text-inverse-primary transition-colors" href="#">Terms of Service</a>
      <a class="font-label-bold text-sm text-on-surface-variant hover:text-primary dark:hover:text-inverse-primary transition-colors" href="#">Privacy Policy</a>
      <a class="font-label-bold text-sm text-on-surface-variant hover:text-primary dark:hover:text-inverse-primary transition-colors" href="#">API Documentation</a>
      <a class="font-label-bold text-sm text-on-surface-variant hover:text-primary dark:hover:text-inverse-primary transition-colors" href="https://github.com/RafaelQSantos-RQS/LattesHub">
        <div class="flex items-center gap-1.5">
          <span class="material-symbols-outlined text-[18px]">code</span>Open Source
        </div>
      </a>
    </nav>
  </div>
</footer>